.initText {
    text-align: center;
}

.initText > Button{
    font-size: 20px;
    background-color: #ff4b5c;
    color: #e0ece4;
}

.initText>Button:hover {
    background-color: #b10011;
}

.text {
    letter-spacing: 6px;
    color: #ff4b5c;
    padding: 50px;
    font-size: 40px;
}