header {
    padding: 20px;
    background-color: #ff4b5c;
    color: #e0ece4;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
}

main {
    height: 89vh;
    background-color: #e0ece4;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
